/* ./your-css-folder/styles.css */

/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

.require-prefix {
  position: relative;
  padding-left: 5px;
}
.require-prefix::before {
  content: '*';
  color: red;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -.15em;
  fill: currentColor;
  overflow: hidden;
}